In [1]:
import pathlib
DATA_FOLDER = pathlib.Path.cwd().parent.parent / "data"

In [2]:
x = pathlib.Path.cwd()
headlines = DATA_FOLDER / 'headlines.txt'

In [3]:
import pandas as pd
df = pd.read_csv(headlines, delimiter='+', names=["Headline"])
df

                                              Headline
0                             Zika Outbreak Hits Miami
1                      Could Zika Reach New York City?
2                    First Case of Zika in Miami Beach
3              Mystery Virus Spreads in Recife, Brazil
4              Dallas man comes down with case of Zika
..                                                 ...
645  Rumors about Rabies spreading in Jerusalem hav...
646              More Zika patients reported in Indang
647  Suva authorities confirmed the spread of Rotav...
648         More Zika patients reported in Bella Vista
649                     Zika Outbreak in Wichita Falls

[650 rows x 1 columns]

In [4]:
import locationextract.location_extract as le

city = le.create_city_finder()
df["City"] = df["Headline"].apply(lambda x: city.find(x))
df.dropna(subset=["City"], inplace=True)
df.drop_duplicates(inplace=True)
df

                                              Headline           City
0                             Zika Outbreak Hits Miami          Miami
1                      Could Zika Reach New York City?  New York City
2                    First Case of Zika in Miami Beach    Miami Beach
3              Mystery Virus Spreads in Recife, Brazil         Recife
4              Dallas man comes down with case of Zika         Dallas
..                                                 ...            ...
645  Rumors about Rabies spreading in Jerusalem hav...      Jerusalem
646              More Zika patients reported in Indang         Indang
647  Suva authorities confirmed the spread of Rotav...           Suva
648         More Zika patients reported in Bella Vista    Bella Vista
649                     Zika Outbreak in Wichita Falls  Wichita Falls

[604 rows x 2 columns]

In [5]:
from locationextract.city import CityFactory
creator = CityFactory()
(_, df["Country Code"], df["Latitude"], df["Longitude"]) = zip(*df["City"].apply(lambda x : creator.from_name(x).df_data()))
df

,Headline,City,Country Code,Latitude,Longitude
0,Zika Outbreak Hits Miami,Miami,US,25.77427,-80.19366
1,Could Zika Reach New York City?,New York City,US,40.71427,-74.00597
2,First Case of Zika in Miami Beach,Miami Beach,US,25.79065,-80.13005
3,"Mystery Virus Spreads in Recife, Brazil",Recife,BR,-8.05389,-34.88111
4,Dallas man comes down with case of Zika,Dallas,US,32.78306,-96.80667
...,...,...,...,...,...
645,Rumors about Rabies spreading in Jerusalem hav...,Jerusalem,IL,31.76904,35.21633
646,More Zika patients reported in Indang,Indang,PH,14.19528,120.87694
647,Suva authorities confirmed the spread of Rotav...,Suva,FJ,-18.14161,178.44149
648,More Zika patients reported in Bella Vista,Bella Vista,DO,18.45539,-69.94540
649,Zika Outbreak in Wichita Falls,Wichita Falls,US,33.91371,-98.49339

In [6]:
df

,Headline,City,Country Code,Latitude,Longitude
0,Zika Outbreak Hits Miami,Miami,US,25.77427,-80.19366
1,Could Zika Reach New York City?,New York City,US,40.71427,-74.00597
2,First Case of Zika in Miami Beach,Miami Beach,US,25.79065,-80.13005
3,"Mystery Virus Spreads in Recife, Brazil",Recife,BR,-8.05389,-34.88111
4,Dallas man comes down with case of Zika,Dallas,US,32.78306,-96.80667
...,...,...,...,...,...
645,Rumors about Rabies spreading in Jerusalem hav...,Jerusalem,IL,31.76904,35.21633
646,More Zika patients reported in Indang,Indang,PH,14.19528,120.87694
647,Suva authorities confirmed the spread of Rotav...,Suva,FJ,-18.14161,178.44149
648,More Zika patients reported in Bella Vista,Bella Vista,DO,18.45539,-69.94540
649,Zika Outbreak in Wichita Falls,Wichita Falls,US,33.91371,-98.49339