In [6]:
import pathlib
DATA_FOLDER = pathlib.Path.cwd().parent.parent / "data"

In [7]:
x = pathlib.Path.cwd()
headlines = DATA_FOLDER / 'headlines.txt'

In [8]:
import pandas as pd
df = pd.read_csv(headlines, delimiter='+', names=["Headline"])
df

                                              Headline
0                             Zika Outbreak Hits Miami
1                      Could Zika Reach New York City?
2                    First Case of Zika in Miami Beach
3              Mystery Virus Spreads in Recife, Brazil
4              Dallas man comes down with case of Zika
..                                                 ...
645  Rumors about Rabies spreading in Jerusalem hav...
646              More Zika patients reported in Indang
647  Suva authorities confirmed the spread of Rotav...
648         More Zika patients reported in Bella Vista
649                     Zika Outbreak in Wichita Falls

[650 rows x 1 columns]

In [12]:
import locationextract.location_extract as le

city = le.create_city_finder()
country = le.create_country_finder()
df["Cities"] = df["Headline"].apply(lambda x: city.find(x))
df["Country"] = df["Headline"].apply(lambda x: country.find(x))
df

                                              Headline         Cities Country
0                             Zika Outbreak Hits Miami          Miami    None
1                      Could Zika Reach New York City?  New York City    None
2                    First Case of Zika in Miami Beach    Miami Beach    None
3              Mystery Virus Spreads in Recife, Brazil         Recife  Brazil
4              Dallas man comes down with case of Zika         Dallas    None
..                                                 ...            ...     ...
645  Rumors about Rabies spreading in Jerusalem hav...      Jerusalem    None
646              More Zika patients reported in Indang         Indang    None
647  Suva authorities confirmed the spread of Rotav...           Suva    None
648         More Zika patients reported in Bella Vista    Bella Vista    None
649                     Zika Outbreak in Wichita Falls  Wichita Falls    None

[650 rows x 3 columns]

In [ ]:
df.to_json(DATA_FOLDER / "df.json")
df.to_csv(DATA_FOLDER / "df.csv")