In [1]:
import locationextract.location_extract as le
le.extract_locations("Berlin Germany")

['Berlin', 'Germany']

In [2]:
import pathlib
x = pathlib.Path.cwd()
headlines = x.parent.parent / 'data' / 'headlines.txt'
headlines

WindowsPath('C:/dev/python/outbreaks/data/headlines.txt')

In [3]:
import pandas as pd
df = pd.read_csv(headlines, delimiter='+', names=["Headline"])
df

                                              Headline
0                             Zika Outbreak Hits Miami
1                      Could Zika Reach New York City?
2                    First Case of Zika in Miami Beach
3              Mystery Virus Spreads in Recife, Brazil
4              Dallas man comes down with case of Zika
..                                                 ...
645  Rumors about Rabies spreading in Jerusalem hav...
646              More Zika patients reported in Indang
647  Suva authorities confirmed the spread of Rotav...
648         More Zika patients reported in Bella Vista
649                     Zika Outbreak in Wichita Falls

[650 rows x 1 columns]

In [4]:
import locationextract.location_extract as le
city = le.create_city_finder()
country = le.create_country_finder()
df["Cities"] = df["Headline"].apply(lambda x: city.find(x))
df["Country"] = df["Headline"].apply(lambda x: country.find(x))
df

,Headline,Cities,Country
0,Zika Outbreak Hits Miami,[Miami],[]
1,Could Zika Reach New York City?,[New York City],[]
2,First Case of Zika in Miami Beach,[Miami Beach],[]
3,"Mystery Virus Spreads in Recife, Brazil",[Recife],[Brazil]
4,Dallas man comes down with case of Zika,[Dallas],[]
...,...,...,...
645,Rumors about Rabies spreading in Jerusalem hav...,[Jerusalem],[]
646,More Zika patients reported in Indang,[Indang],[]
647,Suva authorities confirmed the spread of Rotav...,[Suva],[]
648,More Zika patients reported in Bella Vista,[Bella Vista],[]
649,Zika Outbreak in Wichita Falls,[Wichita Falls],[]